extends layout.pug

block content
  .dashboard-container
    h1.welcome Welcome! #{user.display_name} ✨
    img.circular-image(src=user.images[0].url, alt='User Image')

    ul.tracks-list
      each t in tracks
        li.track-item
          - var artist_name = t.track.artists[0].name
          - var track_name = t.track.name
          - var track_preview = t.track.preview_url
          - var artist_id = t.track.artists[0].id
          - var track_id = t.track.id 

          .track-info
            img(src=t.track.album.images[0].url, alt='Album Cover')

            span.artist-name= artist_name
            
          .track-name: a(href='/recommendations?artist=' + artist_id+'&track='+track_id) #{track_name}

          
